#ident @(#)local.cnf	1.11 14/04/03 
###########################################################################
# Written 1998-2014 by J. Schilling
###########################################################################
#
# Make Rules for local dynamic configuration
#
###########################################################################
# Copyright (c) J. Schilling
###########################################################################
#@@C@@
###########################################################################

configure: autoconf.m4 acgeneral.m4 acspecific.m4 acoldnames.m4 aclocal.m4 \
						local.cnf.in lconfig.h.in
	@echo "	==> AUTOCONFIGURING LOCAL \"$@\""; sh ./autoconf

#config: $(ARCHDIR)/local.cnf

$(ARCHDIR)/Inull:
	$(MKDIR) -p $(ARCHDIR)
	@echo > $@

$(ARCHDIR)/local.cnf $(ARCHDIR)/lconfig.h: $(LCONFIG_DEP) $(ARCHDIR)/Inull \
						configure local.cnf.in lconfig.h.in
	$(RUL_LCONF)

###########################################################################
RUL_LCONF=	@echo "	==> CONFIGURING LOCAL RULES \"$@\""; $(RM_F) $@; \
		cd $(ARCHDIR); \
		CONFIG_NOFAIL=TRUE CC="$(XCC_COM)" CFLAGS="$(CFLAGS)" \
		CXXFLAGS="$(C++FLAGS)" CPPFLAGS="$(OS_DEFS)" \
		LDFLAGS="$(LDOPTS)" sh $(INVERSE_SUBARCHDIR)../../configure $(CONFFLAGS)
###########################################################################
include $(ARCHDIR)/Inull
include $(ARCHDIR)/local.cnf
###########################################################################
